<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" 
                 modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        
        <!--                              
            
        HttpPlatform configuration
        - - - - - - - - - - - - - -
          processPath         - path to the executable or script that will 
                                launch a process listening for Http requests.
                                examples:
                                  1. %JAVA_HOME%\bin\java.exe
                                  2. d:\home\site\wwwroot\bin\tomcat\bin\startup.bat
                                  3. d:\home\site\wwwroot\bin\tomcat\bin\catalina.bat
                                  
          arguments           - (default="") arguments to the executable or 
                                script specified in 'processPath' setting.
                                examples:
                                  1. processPath="d:\home\site\wwwroot\bin\tomcat\bin\catalina.bat" 
                                     arguments="start"
                                  2. processPath="%JAVA_HOME\bin\java.exe" 
                                     arguments="-Djava.net.preferIPv4Stack=true 
                                                -Djetty.port=%HTTP_PLATFORM_PORT% 
                                                -Djetty.base=&quot;d:\home\site\wwwroot\bin\jetty-distribution-9.1.0.v20131115&quot;
                                                -jar &quot;d:\home\site\wwwroot\bin\jetty-distribution-9.1.0.v20131115\start.jar&quot;"
                                                                                       
          startupTimeLimit    - (default=10seconds) Duration for which 
                                HttpPlatformHandler will wait for the executable/script
                                to start a process listening on the port. 
                                If this time limit is exceeded, httpPlatformHandler will 
                                kill the process and try to launch it again 
                                'startupRetryCount' times.
                                  
          startupRetryCount   - (default=10) Number of times HttpPlatformHandler will try
                                to launch process specified in processPath.
                                (please see startupTimeLimit for more details).
                                  
          rapidFailsPerMinute - (default=10) Number of times the process specified in processPath 
                                is allowed to crash per minute. If this limit is exceeded,
                                HttpPlatformHandler will stop launching the process for that minute.
                                    
          requestTimeout      - (default="00:02:00") Duration for which HttpPlatformHandler will
                                wait for a response from the process listening on 
                                %HTTP_PLATFORM_PORT%.
                                    
          stdoutLogEnabled    - (default="true") stdout and stderr of the process specified in
                                'processPath' setting will be redirected to a file specified in
                                'stdoutLogFile' (see below).
                                    
          stdoutLogFile       - (default='d:\home\LogFiles\httpPlatformStdout.log')
                                absolute file path to the file where stdout/stderr from process
                                specified in processPath will be logged.
                                    
        NOTE: %HTTP_PLATFORM_PORT% is a special placeholder which needs to specified either as part of 
        'arguments' or part of the httpPlatform 'environmentVariable' list - This will be replaced
        by an internally generated PORT by HttpPlatformHandler so that the process specified in 
        'processPath' setting can listen on this port.
                                                                                     
        -->
        <httpPlatform processPath="%AZURE_TOMCAT7_HOME%\bin\startup.bat" 
                      startupTimeLimit="30" />
    </system.webServer>
</configuration>